* {
    margin: 0;
    padding: 0;
}

.titulo_pagina {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: aquamarine;
}

.curiosidades {
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: blue;
}

.img_curiosidade {
    width: 50%;
    margin: 50px;
    display: flex;
    justify-content: center;
    background-color: aqua;
}

/*diminuir o tamanho da imagem especifica*/

.img_curiosidade>img {
    width: 600px;
    display: flex;
    justify-content: center;
    background-color: blueviolet;
}



.text_curiosidade {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    margin: 50px;
    text-align: center;
    font-size: 30px;
    background-color: yellow;
}

.text_curiosidade>p {
    padding: 5%;
}