* {
    margin: 0;
    padding: 0;
}

.container_select {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline: 10%;

}

.container_select .impacto_texto {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    font-size: 27px;
    text-align: center;
    background-color: #d1bee2;
    border-radius: 15px;
    padding: 5%;
}

.temporadas {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 10% 20%;
    font-size: 25px;
    padding: 15px;
    border: #000000 solid 3px;
    border-radius: 1rem;
    background-color: #ffffff;
}

.temporadas h3 {
    font-family: "Gloria Hallelujah", cursive;
}


.resumo_temporadas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.label {
    font-family: "Gloria Hallelujah", cursive;
    font-size: 2rem;
    margin-bottom: 10px;
    color: #333;
    font-weight: 600;
}


#Escolha {
    padding: 20px 25px;
    font-size: 1.5rem;
    border: 2.5px solid #444;
    border-radius: 8px;
    background-color: #fffdf7;
    color: #000000;
    cursor: pointer;
    margin-bottom: 30px;
}


#Escolha option {
    padding: 10px;
    font-size: 1.5rem;
    background-color: #f7eaff;
    color: #000000;
    text-align: center;
    margin: auto;
}


.botao_temporada button {
    padding: 30px 40px;
    font-size: 2rem;
    background-color: #f0a500;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.botao_temporada button:hover {
    background-color: #d48c00;
}

.resposta_temporada{
    display: flex;
    justify-content: center;
    align-items: center;
    border:#333 solid 3px;
    font-size: 25px;
    margin-inline: 25%;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 10px;
    text-align: center;
    padding: 50px;
    
}