/*zerando a pg*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* barra de navegação*/

.header {
    height: var(--tamanho-header);
    background-color: #703c8f;
    color: #ffffff;
    border-bottom: #000000;
}

.logo {
    width: fit-content;
    font-weight: 600;
    font-size: 40px;

}

.container {
    display: flex;
    width: 80%;
    margin: auto;

}

.header .container {
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navbar {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    color: #ffffff;
    padding: 10px;
}

.header a {
    text-decoration: none;
    color: #ffffff;
    margin: 10px;
    font-size: 20px;
}

.agora {
    font-weight: 800;
}

.botoes {
    margin: 10px;
    display: flex;
    justify-content: space-between;

}


.botoes .botao_login {
    background-color: #317185;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    color: #ffff;
    margin: 10px;
}

.botoes .botao_login:hover {
    background-color: #1c5769;
    cursor: pointer;
}

.botoes .botao_cadastro {
    background-color: #c9b927;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    color: #ffff;
    margin: 10px;
}

.botoes .botao_cadastro:hover {
    background-color: #c09e2c;
    cursor: pointer;
}



/*fazendo o banner*/
:root {
    --tamanho-header: 90px;
    --tamanho-footer: 90px;
    --tamanho-banner: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px)
}

body {
    background-color: rgb(255, 250, 229);
}

.container {
    display: flex;
    width: 80%;
    margin: auto;
}



.amigos-para-sempre {
    font-family: "Gloria Hallelujah", cursive;
}

.header .container {
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.banner {
    height: var(--tamanho-banner);
    color: white;
    background-image: url('../assets/img/fundo/banner.jpeg');
    background-size: cover;
    opacity: 90%;
}

.banner .container {
    justify-content: center;
    align-items: center;
    height: 100%;
}

.banner .container p {
    width: 55%;
    margin: 0;
    padding: 0;
    font-size: 36px;
}

/*primeiro texto (tem uma imagem do lado)*/
.card {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    max-width: 40%;
    margin: 5%;
    padding-top: 30px;
}

.card>p {
    font-size: 25px;
}

.frame {
    width: 25%;
    margin: 0 10%
}

/*sobre os personagens*/
.personagens {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    margin: 6%;
    border: 3px solid rgb(199, 199, 199);
    background-color: rgb(254, 247, 255);
}



/*personagens de cima*/


.personagens .container .boxes_cima {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    /* Faz todas as caixas esticarem igualmente */
    width: 100%;
    padding: 30px 0;
    margin: 50px;
}


.personagens .container .box_cima:hover {
    transform: scale(1.1);
    background-color: rgb(207, 165, 255);
}


.box_cima {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex: 1;
    margin: 10px 20px;
    background-color: rgb(222, 195, 252);
    border: 10px solid rgb(255, 218, 7);
    border-radius: 10px;
}

.box_cima p {
    margin: 10% 15%;
    text-align: center;
    font-size: 20px;
    padding: 10px;

}

.box_cima img {
    width: 230px;

}


/*personagens de baixo*/

.personagens .container .boxes_baixo {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    padding: 30px 0;
    margin: 50px;
}

.box_baixo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex: 1;
    margin: 10px 20px;
    background-color: rgb(222, 195, 252);
    border: 10px solid rgb(255, 218, 7);
    border-radius: 10px;
}

.personagens .container .box_baixo:hover {
    transform: scale(1.1);
    background-color: rgb(207, 165, 255);
}

.box_baixo p {
    margin: 10% 15%;
    text-align: center;
    font-size: 20px;
}

.box_baixo img {
    width: 230px;
}

h1 {
    margin: 30px;
    font-family: "Gloria Hallelujah", cursive;
}


/*texto sobreposto no index*/

.background {
    background-image: url('../assets/img/fundo/reencontro.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    opacity: 85%;

    /* border:rgb(222, 195, 252) solid 70px; */
}

.content-box {
    width: 40%;
    background-color: white;
    opacity: 80%;
    padding: 40px;
    max-width: 800px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin: 8%;
    font-size: 25px;
}


/* impacto pg de temporadas*/

.container .impacto_texto {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35%;
    position: absolute;
    left: 50%;
    text-align: right;
    font-size: 25px;
}

.temporadas{
    text-align: center;
    margin: 10% 20%;
    font-size: 25px;
    padding: 15px;
    border: #000000 solid 3px;
    border-radius: 1rem;
    background-color: #ffffff;
}
.temporadas h3{
    font-family: "Gloria Hallelujah", cursive;
}


/*footer*/

.footer {
    background-color: #703c8f;
    height: var(--tamanho-footer);
    color: white;
    display: flex;
    font-size: 20px;
}

.footer .container {
    justify-content: center;
    text-align: center;
}

/* 
.icones{
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
} */

.icones img {
    justify-content: center;
    width: 50px;
    margin: 10px;
}

/*login e cadastro*/


.login {
    height: 100vh;
    background-image: url('../assets/img/fundo/banner_login_cadastro.jpg');
    background-size: cover;
}

.login .container {
    justify-content: center;
    align-items: center;
    height: 100%;
}

.card {
    width: 50%;
    background-color: #b99ace;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: rgb(124, 43, 161);
    flex-direction: column;
    height: fit-content;
    opacity: 93%;
    padding: 40px 0;
}

.card h2 {
    margin: 0;
    font-size: 30px;
    font-family: "Gloria Hallelujah",cursive;
}

.formulario {
    display: flex;
    height: 90%;
    width: 80%;
    justify-content: space-around;
    flex-direction: column;
}

.formulario span {
    font-size: 25px;
    font-weight: 800;
    text-align: center;
    margin-top: 10px;
    font-family: "Gloria Hallelujah", cursive;
}

.formulario input {
    border: none;
    text-align: center;
    border-radius: 10px;
    margin: 5px;
    padding: 15px 0;
    background-color: #fdf2ff;
}

.formulario select {
    border: 2px solid #ffda09;
    background-color: white;
    color: gray;
    height: 36px;
    text-align: center;
    border-radius: 10px;
    margin: 0;
}

.campo {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 10px 3px;
}

.botao {
    cursor: pointer;
    font-family: "Gloria Hallelujah", cursive;
    border: none;
    border-radius: 10px;
    font-weight: 600;
    font-size: 23px;
    color: #fff;
    background-color: #ffd209;
    align-self: center;
    padding: 23px;
    margin-top: 20px;
    opacity: 100%;
}

.loading-div {
    width: 50px;
    display: none;
}

.loading-div img {
    height: 50px;
    width: 50px;
}

#div_erros_login {
    display: none }