* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #ffe4ae;
}

.container_select {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-inline: 10%; */
    background-color: #ffe4ae;
}

.container_select .impacto_texto {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    /* margin-inline: 10%; */
    margin-left: 10%;
    margin-block: 5%;
    font-size: 27px;
    text-align: center;
    background-color: #ffffff;
    border-radius: 15px;
    padding: 30px;
    border: #000000 solid 3px;
}

.temporadas {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 40%;
    font-size: 25px;
    padding: 15px;
    border: #000000 solid 3px;
    border-radius: 1rem;
    background-color: #ffffff;
    margin: auto;
}

.temporadas h3 {
    font-family: "Gloria Hallelujah", cursive;
}


.resumo_temporadas {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*curiosidades*/

.banner_curiosidades {
    background-image: url('../assets/img/fundo/friends_curiosidade.jpg');
    background-size: cover;
    background-position: center;
    height: 150vh;
    opacity: 85%;
}

.titulo{
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin-block: 20px;
    margin-inline: 20%;
}
.curiosidades{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin: 5%;
    background-color: #f7eaff;
    margin: 5%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.titulo>h1{
    margin-top: 50px;

}


.card_curiosidades {
    background-color: rgba(255, 255, 255, 0.90);
    width: 20%;
    /* ou width: 250px; */
    min-height: 400px;
    /* ajusta conforme o design desejado */
    margin-block: 5%;
    margin-inline: 2%;
    padding: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
    /* opcional, deixa o texto alinhado */
    border-radius: 2rem;
    border: #333 solid 2px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.card_curiosidades>p {
    font-size: 22px;
}


/*select  option*/

.label {
    font-family: "Gloria Hallelujah", cursive;
    font-size: 2rem;
    margin-bottom: 10px;
    color: #333;
    font-weight: 600;
}


#Escolha {
    padding: 20px 25px;
    font-size: 1.5rem;
    border: 2.5px solid #444;
    border-radius: 8px;
    background-color: #fffdf7;
    color: #000000;
    cursor: pointer;
    margin-bottom: 30px;
}


#Escolha option {
    padding: 10px;
    font-size: 1.5rem;
    background-color: #f7eaff;
    color: #000000;
    text-align: center;
    margin: auto;
}


.botao_temporada button {
    padding: 30px 40px;
    font-size: 2rem;
    background-color: #f0a500;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.botao_temporada button:hover {
    background-color: #d48c00;
}

.resposta_temporada {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffe4ae;
    font-size: 25px;
    margin-inline: 25%;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 10px;
    text-align: center;

}

#divTexto {
    background-color: #fffdf7;
    border: #333 solid 3px;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_temporada{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}
.img_temporada img{
    width: 600px;
    margin-bottom: 80px;
}
.probInd {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5%;
    padding: 5%;
    flex-direction: column;
    border-radius: 15px;
    font-family: 'Gloria Hallelujah', cursive;
    color: #fff;
    background-color: #f7eaff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.probInd h1 {
    font-size: 35px;
    margin-bottom: 20px;
    color: #292103;
}

.opc_prob {
    display: flex;
    gap: 12px;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

.opc_prob label {
    font-size: 20px;
    padding: 10px 18px;
    background-color: #e98b2e;
    border-radius: 12px;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.3s;
    color: white;
    display: inline-block;
    text-align: center;
}

.opc_prob input[type="radio"] {
    display: none;
}

.opc_prob input[type="radio"]:checked+label {
    background-color: #6a5acd;
    transform: scale(1.1);
}

.btn_probInd button {
    font-family: 'Gloria Hallelujah', cursive;
    background-color: #f26b38;
    color: white;
    padding: 10px 25px;
    font-size: 18px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, transform 0.2s;
    display: flex;
    margin-left: 40px;
}

.btn_probInd button:hover {
    background-color: #ffa0ff;
    transform: scale(1.05); }   

    
