* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --tamanho-header: 90px;
    --tamanho-footer: 90px;
    --tamanho-banner: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px)
}

.container {
    display: flex;
    width: 80%;
    margin: auto;
}

.header .container {
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.banner {
    height: var(--tamanho-banner);
    color: white;
    background-image: url('../img/fundo/banner.jpeg');
    background-size: cover;
    opacity: 90%;
}

.banner .container {
    justify-content: center;
    align-items: center;
    height: 100%;
}

.banner .container p {
    width: 55%;
    margin: 0;
    padding: 0;
    font-size: 36px;
}

.card{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    max-width: 40%;
    margin: 5%;
    padding-top: 30px;
}

.card >p{
    font-size: 25px;
}

.frame{
    width: 25%;
    margin: 0 10%
    
}


.personagem {
    margin: 3% 20%;
    text-align: center;
    font-size: 25px;
}

.elenco >img{
    width: 400px;
    display: flex;
    padding: 30px;
    margin: auto;
} 


